/* general: fonts, ... */

.grey-bg {
    background-color: lightgray;
}

.font-light {
    color: white;
}

.bold-text {
    font-weight: bold;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
}

.font-18 {
    font-size: 18px;
}

.font-15 {
    font-size: 15px;
}

.font-35 {
    font-size: 35;
}

/* Turn off parallax scrolling for tablets and phones */

/* @media only screen and (max-device-width: 1024px) {

    .bgimg {
        background-attachment: scroll;
    }
} */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oxygen';
    font-size: 22px;
    color: #1d3557;
}



.back-button {
    font-size: 13px;
    color: white;
    text-decoration: underline;
}

/*MODULES*/

.seperating-bar img {
    position: absolute;
    top: 20%;
}

.carousel-item {
    height: 100vh;
}

#student-carousel,#mentor-carousel,#parent-carousel {
    height: 80vh;  
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #1d3557;
}

.carousel-control-next-icon {
    background-image: url("img/arrow_forward.png");
}

.carousel-control-prev-icon {
    background-image: url("img/arrow_back.png");
}

.top-content .carousel-control-prev {
    left: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

.top-content .carousel-control-next {
    right: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

.feature-description {
    /* position: absolute;
        left: 30%; top: 10%; */
    width: 100%;
    margin: 5%;
    padding-top: 2%;
    padding-left: 2%;
    /* height: 500px; */
    background-color: lightgray;
}

.feature-phone-image {
    position: absolute;
    left: 70%;
    top: 10%;
    width: 30%;
}

/*landing page*/

/* Modify brand and text color */

.navbar-custom .navbar-brand, .nav-link, .nav, .navbar-custom .navbar-text {
    color: white;
}

a:hover {
    color: gray;
}


#landing-page-phones img {
    width: 60%;
    position: absolute;
    bottom:0;
    left: 10vw;
}

#download-buttons {
    width: 70%;
    position: relative;
    bottom:3vh;
    margin-top: 5vh;
}

#landing-page-description {
    margin: 20px;
}

#landing-page-description img {
    margin: auto;
}

/*trailer page*/

#trailer-page p {
    padding: 10px;
}

.trailer-bg {
    background-color: #1d3557;
}

#trailer {
    min-height: 80%;
}

.center-image {
    display: block;
    margin: auto;
}

.font-20 {
    /* margin-bottom: 2%; */
}

.bgimg {
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-size: 20%;
    background-position: 6% 50%;
}

.navbar a {
    font-weight: bold;
    font-size: 20px;
}

.student-bg {
    background-image: url("img/mainCharacter.svg");
}

.mentor-bg {
    background-image: url("img/mentor.svg");
}

.parent-bg {
    background-image: url("img/Mother.svg");
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

#student-carousel .carousel-item {
    padding: vw;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 18px;
    margin: 3vw;
    display: inline-block;
    width: 80%;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.bottom-bar {
    background-color: #1d3557;
    position: absolute;
    bottom: 0;
}

.seperating-bar {
    background-color: #1d3557;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}